.main {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_carousel {
    /* align:center; */
    width: 50%;
}

.dogs {
    display: flex;
    justify-content:space-between;
}


.my_card-img-top { 
    height: 250px;
} 

.my_carousel_img { 
    height: 250px;
} 