*html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
    
}

Resources
 {
    box-sizing: border-box;
}

body {
    background-color:white;
    border: solid gray 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    width: 700px;
    margin: 0 auto;
}

.main {
    margin-left: 20px;
}

.date {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.english {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.my_info {
    margin-left: 60px;
}

.line {
    text-decoration:underline;
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

[type="number"]{
    border: 4px solid red;
    padding:10px;
}

input[type="text"]{
    border: 4px solid rgb(83, 12, 216);
    padding: 10px;
    margin-left: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Lobster|Pacifico&display=swap&subset=cyrillic,cyrillic-ext');
h1 {
    font-family: 'Lobster', cursive;
}
h2 {
   font-family: 'Caveat', cursive;
}
h3 {
    font-family: 'Pacifico', cursive;
}


.my_table td,th {
    border: 4px double red;
    padding:10px;
    margin-left: 20px;
}

.date1 {
    padding:10px;
    border: 4px solid red;
}

.name {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.communication {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}
.money {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}
.criteria {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}
.education {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}
.work {
    color:black;
    margin-left: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.fits {
    margin-left: 20px;
}

.level {
    margin-left: 20px;
}
.talk {
    margin-left: 20px;
}

.photo {
    margin-left: 20px;
}

