.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_carousel {
    align:center;
    width: 50%;
    height: 400px;
}

.dogs {
    display: flex;
    justify-content:space-between;
}


.my_card-img-top {
    height: 350px;
}

.my_carousel_img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    object-position: center;
}
.row {
    margin-top: 10px;
}
