
.about-course {
    margin-bottom:100px;
}

.about-course h2 {
    margin-top: 100px;
}

.about-course p {
    font-family: Noto Sans;
    text-align: center;
    font-size: 24px;
    font-weight: medium;
    line-height: 36px;
    margin-top: 100px;
}

.all-courses {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.course-date-and-time {
    width: 427px;
    height: 379px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 3px;
    padding: 5px;
    padding-top: 38px;
    position: relative;
    margin-top: 100px;
}

.course-date-and-time {
    text-align: center;
}

.about-lesson {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.about-lesson img{
    margin-right: 15px;
    margin-bottom: 15px;
}

.about-lesson span {
    display: inline-flex;
    align-content: flex-start;
}

.guys {
    position: absolute;
    right: 160px;
    top: 1986px;
    /* left: 700px; */
    /* top: 200px; */
}

.teacher-container span {
    display: flex;
    align-content: space-between;
    margin-left: 15px;
    margin-top: 15px;
}

.teacher-container span p {
    margin-top: 10px;
}
.teacher-container {
    width: 280px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    /* padding: 10px; */
}

.teacher-container h2 {
    margin-top: 100px;
}

.teacher-container p {
    margin-top: 30px;
    margin-left: 28px;
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: medium;
    line-height: 36px;
    /* margin-bottom: 10px; */
}

.text-teachers {
    color: rgb(83, 83, 83);
    text-align: left;
    margin-top: 20px;
}

.our-price h2 {
    margin-top: 100px;
}

.good-live {
    margin-top: 100px;
    height: 514px;
    background-color: #FF8D3B;
}

.good-live .container {
    padding: 10px;
}

.good-live h2{
    color: white;
    text-align: left;
    margin-top: 169px;
    margin-left: 93px;
    position: relative;
}

.roll {
    background-color:  #FFAB70;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    opacity: .3;
    position: absolute;
    margin-left: 0;
    margin-top: 35px;
}

.roll-two {
    background-color:  #FFAB70;
    width: 531px;
    height: 491px;
    border-radius: 300px;
    opacity: .3;
    position: absolute;
    transform: translateX(50%);
    right: 0;
}

.record {
    height: 440px;
}

.record h3 {
    margin-top: 100px;
    text-align: center;
}

input[type="email"]{
    width: 492px;
   height: 61px;
   border-radius: 10px;
   text-align: center;
   font-family: Montserrat;
   font-size: 24px;
   line-height: 50px;
}

.record-field {
    text-align: center;
    margin-top: 24px;
}

.tyu {
    text-align: center;
    margin-top: 24px;
}