* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}


body {
    margin: 0;
}

h1 {
    font-family: Montserrat;
    font-size: 60px;
    color: white;
    font-weight: semi bold;
    margin: 0;
    line-height: 100px;
}

h2 {
    font-family: Montserrat;
    text-align: center;
    font-size: 36px;
    font-weight: semi bold;
    line-height: 50px;
}

h3 {
    font-size: 28px;
    font-family: Montserrat;
    font-weight: bold;
    margin: 0;
    line-height: 48px;
    letter-spacing: 0;
}

h4 {
    font-size: 24px;
    font-family: Montserrat;
    color: black;
    font-weight: semi bold;
    margin: 0;
    line-height: 50px;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    height: 72px;
    width: 100%;
    z-index: 5;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header a {
    margin-left:15px;
}

.right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header a {
    margin-right:15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-weight: bold;
    color:black;
    font-size: 24px;
    text-decoration: none;
    font-family: Montserrat;
}

.nav-link:hover {
    text-decoration: underline;
}

.abc {
    background-color:  white;
}

input[type="text"]{
    border: 1px solid;
    padding: 5px;
    font-family: Noto Sans;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    width: 159px;
    height: 34px;
}

.blue-button {
    font-family: Montserrat;
    text-align: center;
    line-height: 55px;
    color: white;
    background-color: #2C6AEC;
    border: 1px;
    font-size: 20px;
    font-weight: semi bold;
    width: 283px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 1px;
    margin-top: 25px;
    cursor: pointer;
}

.blue-button:hover {
    background-color: rgb(109, 147, 230);
}

.search {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 0;
}

.about-school h3{
    color: white;
}

.first-screen {
    position: relative;
    height: 548px;
    overflow: hidden;
}

.first-screen .container {
    position: relative;
    padding: 29px;
}

.first-screen a {
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: white;
    border: 1px solid white;
    font-weight: lighter;
    width: 183px;
    height: 42px;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 66px;
}

.first-section-back {
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

    .gradient-back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: .6;
    }

.section-name {
    margin-top: 100px;
}

.about-us p {
    font-family: Noto Sans;
    text-align: center;
    font-size: 24px;
    font-weight: medium;
    line-height: 32px;
}

.container-advantages {
    display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.large_img {
    grid-row-start: 1;
grid-column-start: 2;
grid-row-end: 4;
grid-column-end: 3;
height: 70%;
width: 456px;
background: url(./img/Image_advantages.png) no-repeat center center;
}


.container-advantages .text {
    text-align: left;
}

.container-advantages p {
    text-align: left;
}

.advantages-center {
    margin-top: 140px;
}

.courses {
    height: 760px;
    background-color: #FF8D3B;
}

.popular-courses {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-courses {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 400px;
    height: 379px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 3px;
    padding: 5px;
    padding-top: 38px;
    position: relative;
    stroke: gray;
}

.card p {
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: medium;
    line-height: 36px;
    text-align: center;
}

.small-text {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    text-align: center;
}

.date {
    margin: 60px;
}

.price {
    text-align: center;
    margin-top: 62px;
}

.card .blue-button {
    width: 211px;
    height: 60px;
    margin: auto;
    margin-left: 95px;
    display: block;
}

.roll {
    background-color:  #FFAB70;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    margin-top: -100px;
    margin-left: 310px;
    opacity: .3;
}

.roll_one {
    background-color:  #FFAB70;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    margin-top: -90px;
    margin-left: -90px;
    opacity: .3;
}

.container .popular-courses {
    position: relative;
   text-align: center;
}

.arrow-ptr {
    background-color: #FF8D3B;
    border: none;
}

.arrow-ptr:hover {
    cursor: pointer;
}

.big-blue-arrow {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 49px;
    display:flex;
}

.big-blue-arrow h3 {
    color: white;
}

.news h2{
    margin-top: 100px;
}

.date-news {
    color: gray;
}

.our-news {
    display: flex;
    margin-top: 88px;
}

.our-news p {
    margin-top: 0;
}
.photo-container {
    flex-shrink: 0;
    width: 250px;
}

.text-news {
    margin-top: 5px;
}

.left-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-price h2{
    margin-top: 100px;
}


.price-container {
    width: 366px;
    height: 447px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px;
    padding: 5px;
}
.price-container h2 {
    margin-top: 77px;
}

.price-container p {
    margin-top: 26px;
    text-align: center;
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: medium;
    line-height: 36px;
    margin-bottom: 10px;
}

.image-book {
    text-align: center;
    margin-top: 65px;
}

.image-book-two {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -15px;
}

.image-book-three {
    text-align: center;
    margin-top: 12px;
    margin-bottom: -15px;
}
.price-container .blue-button {
    margin-left: 73px;
    margin-bottom: 35px;
    width: 221px;
    height: 60px;
}

.block-courses {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-students h2 {
    margin: 100px;
}

.review {
    width: 296px;
    height: 342px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
}

.big-review {
    width: 360px;
    height: 452px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
}

.big-review  .text-people{
    margin-left: 27px;
}

.review p {
    margin-left: 20px;
    margin-top: 13px;
}

.our-students img {
    margin-top: 24px;
   margin-left: 80px;
}

.profession {
    color: gray;
}

.big-review .profession {
    text-align: center;
}

.name {
    text-align: center;
}

.text-people {
    margin-top: 20px;
}

.cards-carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our-students {
    overflow: hidden;
}

footer {
    margin-top: 100px;
    height: 498px;
    background:  #D5DDF5;
}


