.about-school h3{
    color: white;
}


.section-name {
    margin-top: 100px;
}

.about-us {
    margin-bottom:100px;
}

.about-us p {
    font-family: Noto Sans;
    text-align: center;
    font-size: 24px;
    font-weight: medium;
    line-height: 32px;
}

.container-advantages {
    display: grid;
  /* grid-template-rows: 1fr 1fr 1fr; */
  row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;

}

.large_img {
    grid-row-start: 1;
grid-column-start: 2;
grid-row-end: 4;
grid-column-end: 3;
height: 70%;
width: 456px;
background: url(./img/Image_advantages.png) no-repeat center center;
}


.container-advantages .text {
    text-align: left;
}

.container-advantages p {
    text-align: left;
}

.advantages-center {
    margin-top: 140px;
}

.courses {
    height: 760px;
    background-color: #FF8D3B;
    padding: 1px;
    overflow: hidden;
}

.popular {
    margin-top: 80px;
    margin-bottom: 70px;
    align-items: center;
}

.three-courses {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card {
    width: 400px;
    height: 379px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 2px;
    padding: 5px;
    padding-top: 38px;
    position: relative;
    stroke: rgb(204, 204, 204);
}

.card p {
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: medium;
    line-height: 36px;
    text-align: center;
}

.small-text {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    text-align: center;
}

.date {
    margin: 60px;
}

.price h2 {
    text-align: center;
    margin-top: 62px;
}

.card .blue-button {
    width: 211px;
    height: 60px;
    margin: auto;
    margin-left: 95px;
    display: block;
    text-decoration: none;
}

.roll {
    background-color:  #FFAB70;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    opacity: .3;
    right: 0;
    bottom: 0;
    transform: translateX(50%)translateY(37%);
}

.roll_one {
    background-color:  #FFAB70;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    transform: translateX(-50%)translateY(-50%);
    opacity: .3;
}

.container .popular-courses {
    position: relative;
    text-align: center;
}

.arrow-ptr {
    background-color: #FF8D3B;
    border: none;
}

.arrow-ptr:hover {
    cursor: pointer;
}

.big-blue-arrow {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    display:flex;
}

.big-blue-arrow a {
    color: white;
    text-decoration: none;
}

.news h2{
    margin-top: 100px;
}

.date-news {
    color: gray;
}

.our-news {
    display: flex;
    margin-top: 88px;
}

 .news a {
    text-decoration: none;
    color: black;
 }

.our-news p {
    margin-top: 0;
}
.photo-container {
    flex-shrink: 0;
    width: 250px;
}

.text-news {
    margin-top: 5px;
}

.left-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-students h2 {
    margin: 100px;
}

.review {
    width: 296px;
    height: 342px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
}

.big-review {
    width: 360px;
    height: 452px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
}

.big-review  .text-people{
    margin-left: 27px;
}

.review p {
    margin-left: 20px;
    margin-top: 13px;
}

.our-students img {
    margin-top: 24px;
   margin-left: 80px;
}

.profession {
    color: gray;
    line-height: 9px;
}

.big-review .profession {
    text-align: center;
}

.name {
    text-align: center;
}

.text-people {
    margin-top: 20px;
}

.cards-carousel {
    width: 1680px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.our-students {
    align-items: center;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    height: 702px;
}

